@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    
}


:root {
    --bg-color: #1f242d;
    --second-bg-color:#323946;
    --text-color: #fff;
    --main-color:#25b79f;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}



.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}



.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw; 
   border-radius:70%;
}


.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3 {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 2rem;

}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    font-size: 16px;
    color: var(--text-color);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
}

.btn:hover {
    box-shadow: 0 0 0px var(--main-color),
        0 0 0px var(--main-color), 0 0 20px var(--main-color)
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.skills h2 {
    margin-top: 5rem;
}

.skills .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container :hover {
    border: radius 1px;
    border-color: var(--text-color);
    transform: scale(1.02);
}


.skills-container .skills-box {
    flex: 30rem 30rem 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.skills-container .skills-box :hover {
    border: radius 1px;
    border-color: var(--main-color);
    transform: scale(1.02);

}

.skills-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box h3 {
    font-size: 2.6rem;
}

.skills-box p {
    font-size: 1.6;
    margin: 1rem 0 3rem;
}

.skills-container .skills-box {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--second-bg-color);
    color: var(--text-color);
    font-weight: 500;
}

.skills-container .skills-box :hover {
    opacity: 0.8;
}



.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 3rem;
    height: 10rem;
    width: 135rem;

}


.portfolio-container img {
    max-width: 100%;
    height: auto;
}

.portfolio-container.portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    border-radius: 1%;

}



.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;

}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(var(--second-bg-color));

}

.bx-link-external a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}


.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}





.skills-bar {
  padding: 25px 30px;
}
.skills-bar .bar {
  margin: 25px 0;
}
.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}
.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #f0f0e6;
}
.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line span {
  position: absolute;
  background: #25b79f;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-line .webdev {
  width: 80%;
}
.progress-line .c {
  width: 80%;
}
.progress-line .python {
  width: 60%;
}
.progress-line .java {
  width: 50%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #f0f0f0;
}
.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #07374a;
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}
.progress-line .webdev::after {
  content: "80%";
}
.progress-line .c::after {
  content: "80%";
}
.progress-line .python::after {
  content: "60%";
}
.progress-line .java::after {
  content: "50%";
}


.footer-section{
    background-color: #dccccc;
  
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.842); 
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
   
  }
  .footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
height: 80px;
min-height: 50px;
  
  
  }
  .footer-content p{
   color:rgb(0, 0, 0); 
  }
  .footer-content p a{
    color:rgb(0, 0, 0);
  
  }
